= partial :menu

%section.about-us#show-menu
  .wrap
    %header.section-header
      %h2
        About
      %p
        Mossio is a full service digital agency focused on high quality craftsmenship of web and mobile applications. Our team is a group of passionate people with a focus on delievering exceptional results for clients all over the world.

  %ul#about-pictures.owl-carousel
    %li
      = image_tag 'placeholder.png'
    %li
      = image_tag 'placeholder.png'
    %li
      = image_tag 'placeholder.png'
    %li
      = image_tag 'placeholder.png'
    %li
      = image_tag 'placeholder.png'
    %li
      = image_tag 'placeholder.png'
    %li
      = image_tag 'placeholder.png'
    %li
      = image_tag 'placeholder.png'
    %li
      = image_tag 'placeholder.png'


%section.our-process
  .wrap
    %header.section-header
      %h3
        Building things is our passion
      %p
        We have a high regard for building quality products that make a difference in the lives of people that use them. We work with clients to define and execute on ideas that bring a good service to the public, or a powerful product to market. We work with teams that build products that people love to use.

    %section.process-circles
      .circles
        .process-circle-discover
          = image_tag 'lab.png'
        .process-circle-design
          = image_tag 'design.png'
        .process-circle-build
          = image_tag 'build.png'
        .process-circle-ship
          = image_tag 'ship.png'

    %section.process-content
      .process-column
        .process-circle-discover
          = image_tag 'lab.png'
        .content
          %h4 discovery
          .divider
          %p We provide a discovery week to get down and dirty with your project learning about everything there is to know.

      .process-column
        .process-circle-design
          = image_tag 'design.png'
        .content
          %h4 design
          .divider2
          %p After we have all the details from your project we start to design the user experience and user interface for the application.

      .process-column
        .process-circle-build
          = image_tag 'build.png'
        .content
          %h4 build
          .divider3
          %p Once the design is set in stone we build out the application in the desired language. Involving the client in every turn.

      .process-column
        .process-circle-ship
          = image_tag 'ship.png'
        .content
          %h4 ship
          .divider4
          %p We now tighten the nuts and bolts, we send it off into the wild to grow into a successful product or service.

%section.offices
  .wrap
    %header.section-header
      %h2
        Where we are
      %p
        We work with clients all over the world. We have locations in the following areas so no matter where you are, we are not too far away.
    .locations
      %ul
        %li
          .state
            =image_tag 'cali.png'
          %h2
            LA
          .clock
            %canvas#clock1.CoolClock:simple:55:seconds:5
        %li
          .state
            =image_tag 'texas.png'
          %h2
            HOU
          .clock
            %canvas#clock2.CoolClock:simple:55:seconds:7
        %li
          .state
            =image_tag 'georgia.png'
          %h2
            ATL
          .clock
            %canvas#clock3.CoolClock:simple:55:seconds:8

= partial :contact

= partial :footer
